@font-face {
    font-family: SegoeUIVF;
    src: url(SegoeUIVF.otf);
}

body {
  padding: 24px;
  text-align: center;
  background-color: rgb(38,41,43);;
  color: white;
  font: 25px SegoeUIVF;
}